# Customer Loyalty Score Preprocessing

In [3]:
import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
import time
from datetime import datetime

In [2]:
import warnings
warnings.filterwarnings("ignore")

## Import/Optimize Datasets

In [4]:
def get_memory_size(dataframe):
    return dataframe.memory_usage(deep=True).sum() / (1024 ** 2)

def optimize_memory_usage(dataframe):
    optimized_df = pd.DataFrame()

    for col in dataframe.columns:
        original_col = dataframe[col]
        if original_col.dtypes == 'int':
            optimized_col = pd.to_numeric(original_col, downcast='integer')

        elif original_col.dtypes == 'float':
            optimized_col = pd.to_numeric(original_col, downcast='float')

        elif original_col.dtypes == 'object':
            if len(original_col) / len(original_col.unique()) > 0.5:
                optimized_col = original_col.astype('category')

            else:
                optimized_col = original_col
        else:
            optimized_col = original_col

        optimized_df[col] = optimized_col

    return optimized_df

def get_reduced_df(dataframe_chunks):
  optimized_dfs = []

  for chunk in dataframe_chunks:
      optimized_df_chunk = optimize_memory_usage(chunk)
      optimized_dfs.append(optimized_df_chunk)

  return pd.concat(optimized_dfs)

In [5]:
chunk_size = 20000

historical_transactions_chunks = pd.read_csv('./Data/historical_transactions.csv', chunksize=chunk_size)
merchants_chunks = pd.read_csv('./Data/merchants.csv', chunksize=chunk_size)
new_merchant_transactions_chunks = pd.read_csv('./Data/new_merchant_transactions.csv', chunksize=chunk_size)
train_chunks = pd.read_csv('./Data/train.csv', chunksize=chunk_size)
test_chunks = pd.read_csv('./Data/test.csv', chunksize=chunk_size)

start_time = time.time()
historical_transactions = get_reduced_df(historical_transactions_chunks)
del historical_transactions_chunks
print("time to load historical_transactions {} seconds".format(int(time.time() - start_time)))

start_time = time.time()
merchants = get_reduced_df(merchants_chunks)
del merchants_chunks
print("time to load merchants {} seconds".format(int(time.time() - start_time)))

start_time = time.time()
new_merchant_transactions = get_reduced_df(new_merchant_transactions_chunks)
del new_merchant_transactions_chunks
print("time to load new_merchant_transactions {} seconds".format(int(time.time() - start_time)))

start_time = time.time()
train = get_reduced_df(train_chunks)
del train_chunks
print("time to load train {} seconds".format(int(time.time() - start_time)))

start_time = time.time()
test = get_reduced_df(test_chunks)
del test_chunks
print("time to load test {} seconds".format(int(time.time() - start_time)))

time to load historical_transactions 95 seconds
time to load merchants 1 seconds
time to load new_merchant_transactions 6 seconds
time to load train 0 seconds
time to load test 0 seconds

## Merging/Preprocessing Transaction Histories

In [24]:
# Remember which entries came from which dataset
historical_transactions['new_merchant_flag'] = False
new_merchant_transactions['new_merchant_flag'] = True

In [29]:
transactions = pd.concat([historical_transactions, new_merchant_transactions], ignore_index=True)
transactions.shape

(31075392, 15)

In [30]:
transactions.isna().sum()

authorized_flag               0
card_id                       0
city_id                       0
category_1                    0
installments                  0
category_3               234081
merchant_category_id          0
merchant_id              164697
month_lag                     0
purchase_amount               0
purchase_date                 0
category_2              2764609
state_id                      0
subsector_id                  0
new_merchant_flag             0
dtype: int64

In [31]:
# Without merchant_id, entries lose quite a bit of associated information in merchants.csv
transactions.dropna(subset=['merchant_id'], inplace=True)

In [32]:
transactions['purchase_date'] = pd.to_datetime(transactions['purchase_date'])

In [33]:
# Create separate features for year/month/day/hour
transactions['year'] = transactions['purchase_date'].dt.year.astype('int16')
transactions['month'] = transactions['purchase_date'].dt.month.astype('int16')
transactions['day'] = transactions['purchase_date'].dt.day.astype('int16')
transactions['hour'] = transactions['purchase_date'].dt.hour.astype('int16')

In [40]:
# Taking a look at the data before encoding
transactions.head(3)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,new_merchant_flag,year,month,day,hour
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37,False,2017,6,25,15
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16,False,2017,7,15,12
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37,False,2017,8,9,22

In [45]:
# One hot encode categorical features
ohe_features = [
    'authorized_flag',
    'new_merchant_flag',
    'category_1',
    'category_2',
    'category_3'
]

# Maintain a column for NA values after OHE
transactions['category_2'] = transactions['category_2'].astype('category')
transactions['category_2'] = transactions['category_2'].cat.add_categories('NA')
transactions['category_2'].fillna('NA', inplace=True)

transactions['category_3'] = transactions['category_3'].astype('category')
transactions['category_3'] = transactions['category_3'].cat.add_categories('NA')
transactions['category_3'].fillna('NA', inplace=True)

# Do the encoding
encoded_df = pd.get_dummies(transactions, columns=ohe_features, prefix=ohe_features, drop_first=True)

In [49]:
# Any remaining NaN values? (no)
encoded_df.isna().sum()

card_id                   0
city_id                   0
installments              0
merchant_category_id      0
merchant_id               0
month_lag                 0
purchase_amount           0
purchase_date             0
state_id                  0
subsector_id              0
year                      0
month                     0
day                       0
hour                      0
authorized_flag_Y         0
new_merchant_flag_True    0
category_1_Y              0
category_2_2.0            0
category_2_3.0            0
category_2_4.0            0
category_2_5.0            0
category_2_NA             0
category_3_B              0
category_3_C              0
category_3_NA             0
dtype: int64

In [51]:
# Look at the datatypes
encoded_df.dtypes

card_id                           object
city_id                            int64
installments                       int64
merchant_category_id               int64
merchant_id                       object
month_lag                          int64
purchase_amount                  float64
purchase_date             datetime64[ns]
state_id                           int64
subsector_id                       int64
year                               int16
month                              int16
day                                int16
hour                               int16
authorized_flag_Y                   bool
new_merchant_flag_True              bool
category_1_Y                        bool
category_2_2.0                      bool
category_2_3.0                      bool
category_2_4.0                      bool
category_2_5.0                      bool
category_2_NA                       bool
category_3_B                        bool
category_3_C                        bool
category_3_NA                       bool
dtype: object

In [59]:
# Check the ranges of int64 features
int64_features = ['city_id', 'installments', 'merchant_category_id', 'month_lag', 'state_id', 'subsector_id']

for feature in int64_features:
    print(feature, "\t:\t", encoded_df[feature].min(), " ", encoded_df[feature].max())

city_id 	:	 -1   347
installments 	:	 -1   999
merchant_category_id 	:	 -1   891
month_lag 	:	 -13   2
state_id 	:	 -1   24
subsector_id 	:	 -1   41

In [54]:
# Above features do not need 64 bits, reduce them to 16
for feature in int64_features:
    encoded_df[feature] = encoded_df[feature].astype(np.int16)

In [72]:
# Before optimizing, the data consumed is the following.
# Note: this is AFTER the initial optimization of the incoming .csv files -- before any optimization, there is ~14 Gb
transactions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 30910695 entries, 0 to 31075391
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       object
 1   card_id               object
 2   city_id               int64
 3   category_1            category
 4   installments          int64
 5   category_3            category
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         datetime64[ns]
 11  category_2            category
 12  state_id              int64
 13  subsector_id          int64
 14  new_merchant_flag     bool
 15  year                  int16
 16  month                 int16
 17  day                   int16
 18  hour                  int16
dtypes: bool(1), category(3), datetime64[ns](1), float64(1), int16(4), int64(6), object(3)
memory usage: 8.2 GB

In [73]:
encoded_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 30910695 entries, 0 to 31075391
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   card_id                 object
 1   city_id                 int16
 2   installments            int16
 3   merchant_category_id    int16
 4   merchant_id             object
 5   month_lag               int16
 6   purchase_amount         float64
 7   purchase_date           datetime64[ns]
 8   state_id                int16
 9   subsector_id            int16
 10  year                    int16
 11  month                   int16
 12  day                     int16
 13  hour                    int16
 14  authorized_flag_Y       bool
 15  new_merchant_flag_True  bool
 16  category_1_Y            bool
 17  category_2_2.0          bool
 18  category_2_3.0          bool
 19  category_2_4.0          bool
 20  category_2_5.0          bool
 21  category_2_NA           bool
 22  category_3_B            bool
 23  category_3_C            bool
 24  category_3_NA           bool
dtypes: bool(11), datetime64[ns](1), float64(1), int16(10), object(2)
memory usage: 5.7 GB

In [76]:
renaming = {
    'authorized_flag_Y' : 'authorized_flag',
    'new_merchant_flag_True' : 'new_merchant_flag',
    'category_1_Y' : 'category_1'
}

encoded_df.rename(columns=renaming, inplace=True)

In [77]:
encoded_df.head(3)

,card_id,city_id,installments,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,state_id,subsector_id,...,new_merchant_flag,category_1,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_NA,category_3_B,category_3_C,category_3_NA
0,C_ID_4e6213e9bc,88,0,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,16,37,...,False,False,False,False,False,False,False,False,False,False
1,C_ID_4e6213e9bc,88,0,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,16,16,...,False,False,False,False,False,False,False,False,False,False
2,C_ID_4e6213e9bc,88,0,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,16,37,...,False,False,False,False,False,False,False,False,False,False

## Feature Engineering & Aggregation

In [79]:
# Group bool columns into percentages of pos/neg by card_id
bool_cols = [
       'new_merchant_flag','authorized_flag','category_1',
       'category_2_2.0', 'category_2_3.0', 'category_2_4.0',
       'category_2_5.0', 'category_2_NA', 'category_3_B',
       'category_3_C', 'category_3_NA'
]

percentage_cols = encoded_df.groupby('card_id')[bool_cols].apply(lambda x:(x.sum()/len(x)).round(3))
percentage_cols.head(3)

,new_merchant_flag,authorized_flag,category_1,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_NA,category_3_B,category_3_C,category_3_NA
card_id,,,,,,,,,,,
C_ID_00007093c1,0.013,0.768,0.185,0.0,0.801,0.0,0.007,0.185,0.841,0.159,0.000
C_ID_0001238066,0.169,0.980,0.027,0.0,0.000,0.0,0.155,0.068,0.730,0.243,0.027
C_ID_0001506ef0,0.015,0.940,0.000,0.0,0.970,0.0,0.000,0.000,0.015,0.000,0.000

In [84]:
# Create a new column with count number of transactions per card_id
date_cols = encoded_df.groupby('card_id').size().reset_index(name='transactions_count')

# Difference between first and last purchase
first_last_purchase = encoded_df.groupby('card_id')['purchase_date'].agg(['min', 'max']).reset_index()
first_last_purchase['days_active'] = (first_last_purchase['max'] - first_last_purchase['min']).dt.days

# merge new features and first_last_purchase on card_id
date_cols = pd.merge(date_cols, first_last_purchase, on='card_id', how='left')

# frequency of transactions per card_id
date_cols['frequency'] = date_cols['transactions_count']/date_cols['days_active']

# Rename min and max columns
date_cols.rename(columns={'min':'first_purchase', 'max':'last_purchase'}, inplace=True)

# reset card_id as index
date_cols.set_index('card_id', inplace=True)

date_cols.head(3)

,transactions_count,first_purchase,last_purchase,days_active,frequency
card_id,,,,,
C_ID_00007093c1,151,2017-02-14 14:00:43,2018-04-09 16:23:59,419,0.360382
C_ID_0001238066,148,2017-09-28 22:25:14,2018-04-30 19:57:30,213,0.694836
C_ID_0001506ef0,67,2017-01-14 16:16:01,2018-03-22 09:14:30,431,0.155452

In [94]:
# Take average values of numerical variables
to_average = ['installments', 'month_lag', 'purchase_amount']
average_cols = encoded_df.groupby('card_id')[to_average].apply(lambda x:(x.sum()/len(x)).round(3))
average_cols.rename(
    columns={
        'purchase_amount' : 'avg_purchase',
        'installments' : 'avg_installments',
        'month_lag' : 'avg_month_lag'
    }, inplace=True)

# Calculate total money spent by user
purchase_amount_sum = encoded_df.groupby('card_id')['purchase_amount'].apply(lambda x:x.sum())

num_cols = pd.merge(average_cols, purchase_amount_sum, on='card_id', how='left')
num_cols.rename(columns={'purchase_amount' : 'sum_purchase'}, inplace=True)
num_cols.head(3)

                 avg_installments  avg_month_lag  avg_purchase  sum_purchase
card_id
C_ID_00007093c1             1.285         -5.748        -0.518    -78.173564
C_ID_0001238066             1.615         -1.277        -0.585    -86.596930
C_ID_0001506ef0             0.015         -4.746        -0.527    -35.333881

In [121]:
# For each card: grab the number of associated ids of each type,
# the number of ids tying for the mode, and one of those ids

aggregate_by = {
    'unique': lambda x: len(x.unique()),
    'mode_len': lambda x: len(x.mode()),
    'mode': lambda x: x.mode().iloc[0]
}

result_df = pd.DataFrame()

for agg in aggregate_by:

    func = aggregate_by[agg]

    temp_df = encoded_df.groupby('card_id').agg(
        {
            'city_id': func,
            'merchant_category_id': func,
            'merchant_id': func,
            'state_id': func,
            'subsector_id': func
        }
    )

    temp_df.rename(columns={
        'city_id': f'city_{agg}',
        'merchant_category_id': f'merchant_category_{agg}',
        'merchant_id': f'merchant_{agg}',
        'state_id': f'state_{agg}',
        'subsector_id': f'subsector_{agg}'
    }, inplace=True)

    if result_df.empty:
        result_df = temp_df
    else:
        result_df = pd.merge(result_df, temp_df, on='card_id', how='left')
    
result_df.head(3)

,city_unique,merchant_category_unique,merchant_unique,state_unique,subsector_unique,city_mode_len,merchant_category_mode_len,merchant_mode_len,state_mode_len,subsector_mode_len,city_mode,merchant_category_mode,merchant_mode,state_mode,subsector_mode
card_id,,,,,,,,,,,,,,,
C_ID_00007093c1,5,19,31,4,13,1,1,1,1,1,244,307,M_ID_9400cf2342,2,19
C_ID_0001238066,19,34,90,6,19,1,1,1,1,1,314,307,M_ID_d17aabd756,9,19
C_ID_0001506ef0,3,19,29,2,12,1,1,1,1,1,137,705,M_ID_b1fc88154d,19,33

In [122]:
# Get which id of each type the user has spent the most money on

city_sum = encoded_df.groupby(['card_id', 'city_id']).agg({
    'purchase_amount': lambda x: (np.abs(x)).sum()
}).reset_index()
max_city = city_sum.groupby('card_id').apply(lambda x: x.loc[x['purchase_amount'].idxmax()])[['city_id']]
max_city.rename(columns={'city_id':'city_max_spent'}, inplace=True)

merchant_category_sum = encoded_df.groupby(['card_id', 'merchant_category_id']).agg({
    'purchase_amount': lambda x: (np.abs(x)).sum()
}).reset_index()
max_merchant_category = merchant_category_sum.groupby('card_id').apply(lambda x: x.loc[x['purchase_amount'].idxmax()])[['merchant_category_id']]
max_merchant_category.rename(columns={'merchant_category_id':'merchant_category_max_spent'}, inplace=True)

merchant_sum = encoded_df.groupby(['card_id', 'merchant_id']).agg({
    'purchase_amount': lambda x: (np.abs(x)).sum()
}).reset_index()
max_merchant = merchant_sum.groupby('card_id').apply(lambda x: x.loc[x['purchase_amount'].idxmax()])[['merchant_id']]
max_merchant.rename(columns={'merchant_id':'merchant_max_spent'}, inplace=True)

state_sum = encoded_df.groupby(['card_id', 'state_id']).agg({
    'purchase_amount': lambda x: (np.abs(x)).sum()
}).reset_index()
max_state = state_sum.groupby('card_id').apply(lambda x: x.loc[x['purchase_amount'].idxmax()])[['state_id']]
max_state.rename(columns={'state_id':'state_max_spent'}, inplace=True)

subsector_sum = encoded_df.groupby(['card_id', 'subsector_id']).agg({
    'purchase_amount': lambda x: (np.abs(x)).sum()
}).reset_index()
max_subsector = subsector_sum.groupby('card_id').apply(lambda x: x.loc[x['purchase_amount'].idxmax()])[['subsector_id']]
max_subsector.rename(columns={'subsector_id':'subsector_max_spent'}, inplace=True)

# Merge the results
merged_df = pd.merge(max_city, max_merchant_category, on='card_id', how='inner')
merged_df = pd.merge(merged_df, max_state, on='card_id', how='inner')
merged_df = pd.merge(merged_df, max_merchant, on='card_id', how='inner')
merged_df = pd.merge(merged_df, max_subsector, on='card_id', how='inner')
merged_df.head(3)

,city_max_spent,merchant_category_max_spent,state_max_spent,merchant_max_spent,subsector_max_spent
card_id,,,,,
C_ID_00007093c1,244,307,2,M_ID_9400cf2342,19
C_ID_0001238066,314,307,9,M_ID_d17aabd756,19
C_ID_0001506ef0,137,705,19,M_ID_b1fc88154d,33

In [127]:
# Merge all of the aggregations
final_df = pd.merge(num_cols, result_df, on='card_id', how='inner')
final_df = pd.merge(final_df, merged_df, on='card_id', how='inner')
final_df = pd.merge(final_df, percentage_cols, on='card_id', how='inner')
final_df = pd.merge(final_df, date_cols, on='card_id', how='inner')

In [125]:
# Convert int64 to int16
int64_columns = final_df.select_dtypes(include=['int64']).columns
final_df[int64_columns] = final_df[int64_columns].astype('int16')

In [126]:
final_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 325540 entries, C_ID_00007093c1 to C_ID_fffffd5772
Data columns (total 41 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   avg_installments             325540 non-null  float64
 1   avg_month_lag                325540 non-null  float64
 2   avg_purchase                 325540 non-null  float64
 3   sum_purchase                 325540 non-null  float64
 4   city_id                      325540 non-null  int16
 5   city_unique                  325540 non-null  int16
 6   merchant_category_unique     325540 non-null  int16
 7   merchant_unique              325540 non-null  int16
 8   state_unique                 325540 non-null  int16
 9   subsector_unique             325540 non-null  int16
 10  city_mode_len                325540 non-null  int16
 11  merchant_category_mode_len   325540 non-null  int16
 12  merchant_mode_len            325540 non-null  int16
 13  state_mode_len               325540 non-null  int16
 14  subsector_mode_len           325540 non-null  int16
 15  city_mode                    325540 non-null  int16
 16  merchant_category_mode       325540 non-null  int16
 17  merchant_mode                325540 non-null  object
 18  state_mode                   325540 non-null  int16
 19  subsector_mode               325540 non-null  int16
 20  city_max_spent               325540 non-null  int16
 21  merchant_category_max_spent  325540 non-null  int16
 22  state_max_spent              325540 non-null  int16
 23  merchant_max_spent           325540 non-null  object
 24  subsector_max_spent          325540 non-null  int16
 25  new_merchant_flag            325540 non-null  float64
 26  authorized_flag              325540 non-null  float64
 27  category_1                   325540 non-null  float64
 28  category_2_2.0               325540 non-null  float64
 29  category_2_3.0               325540 non-null  float64
 30  category_2_4.0               325540 non-null  float64
 31  category_2_5.0               325540 non-null  float64
 32  category_2_NA                325540 non-null  float64
 33  category_3_B                 325540 non-null  float64
 34  category_3_C                 325540 non-null  float64
 35  category_3_NA                325540 non-null  float64
 36  transactions_count           325540 non-null  int16
 37  first_purchase               325540 non-null  datetime64[ns]
 38  last_purchase                325540 non-null  datetime64[ns]
 39  days_active                  325540 non-null  int16
 40  frequency                    325540 non-null  float64
dtypes: datetime64[ns](2), float64(16), int16(21), object(2)
memory usage: 124.8 MB

In [129]:
final_df.to_csv('./Data/cleaned_data.csv', index=False)
final_df.head(3)

,avg_installments,avg_month_lag,avg_purchase,sum_purchase,city_id,city_unique,merchant_category_unique,merchant_unique,state_unique,subsector_unique,...,category_2_5.0,category_2_NA,category_3_B,category_3_C,category_3_NA,transactions_count,first_purchase,last_purchase,days_active,frequency
card_id,,,,,,,,,,,,,,,,,,,,,
C_ID_00007093c1,1.285,-5.748,-0.518,-78.173564,244,5,19,31,4,13,...,0.007,0.185,0.841,0.159,0.000,151,2017-02-14 14:00:43,2018-04-09 16:23:59,419,0.360382
C_ID_0001238066,1.615,-1.277,-0.585,-86.596930,314,19,34,90,6,19,...,0.155,0.068,0.730,0.243,0.027,148,2017-09-28 22:25:14,2018-04-30 19:57:30,213,0.694836
C_ID_0001506ef0,0.015,-4.746,-0.527,-35.333881,137,3,19,29,2,12,...,0.000,0.000,0.015,0.000,0.000,67,2017-01-14 16:16:01,2018-03-22 09:14:30,431,0.155452